@import "../../vars.css";

.AboutSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 7rem 10% 2rem 10%;
  padding: 2rem;
  color: var(--color-text);
  background-color: black;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.5rem;
}
.article {
  border-radius: 1rem;
  padding: 2rem;
  width: 60%;
}
.img {
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: rgba(72, 72, 124, 0.25) 0px 0px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.titlePink {
  font-weight: 900;
  margin-bottom: 1rem;
}
.title {
  margin-bottom: 0.7rem;
  font-weight: 700;
}
.apresentation {
  font-weight: 400;
  color: var(--color-description);
  font-size: 0.9em;
}

@media screen and (max-width: 1044px) {
  .AboutSection {
    margin: 7rem 5% 7rem 5%;
  }
  .article h1 {
    font-size: 1em;
  }
  .article p {
    font-size: 0.9em;
  }
  .article {
    border-radius: 1rem;
    padding: 2rem 0 2rem 2rem;
  }
}
@media screen and (max-width: 830px) {
  .AboutSection {
    margin: 7rem 0% 7rem 0%;
    flex-direction: column;
    border-radius: 0rem;
    text-align: center;
  }

  .article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .apresentation {
    font-size: 0.9em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
  }
  ._description_lzchs_51 {
    text-align: center;
    font-size: 0.9rem;
  }
  .article {
    padding: 1rem;
  }
  .img {
    width: 100%;
  }
}
