@import "../../vars.css";

.AboutSection{
    margin: 7rem 10% 2rem 10%;
    padding: 2rem;
    color: var(--color-text);
    background-color: black;
}
.article{
    
    border-radius: 1rem;;
    padding: 2rem;
}
.titlePink{
    font-weight: 900;
    margin-bottom: 1rem;
}
.title{
    margin-bottom: 0.7rem;
    font-weight: 500;
}
.apresentation{
    width: 30rem;
}