:root{
    /*Colours*/
    --color-text: white;
    --color-bg: #0b0b0f;
    --color-primary:#fdf5e6;
    --color-secondary:#E8B298;
    --color-dark:#290001;
    --color-pink:#F21B54;
    --color-description:rgb(146, 136, 136);

    /*fonts*/
    --font-poppings:"poppins", sans-serif;
}