:root{
    /*Colours*/
    --color-text: #3f3c3c;
    --color-bg: #FFFF;
    --color-primary:#fdf5e6;
    --color-secondary:#E8B298;
    --color-dark:#290001;

    /*fonts*/
    --font-poppings:"poppins";
}